 table {
    border: 1px solid white;
}

td {
    text-align:center; 
    vertical-align:middle;
}

.weekday {
    background-color: MediumSeaGreen ;
}

.weekend {
    background-color: Gold;
}

.blankday {
    background-color: DarkGray;
}